{% extends 'layout.html' %}
{% block content %}
<div class="jumbotron text-dark mt-3 mb-3">
	<h1 class="display-4">Ecobee Dash</h1>
	<p class="lead">Have control over your thermostat.</p>
	<hr class="my-4">
	<p>Minimalist Ecobee web app designed to have full control over your Ecobee app.</p>
	<p class="lead">
		<a class="btn btn-success btn-lg" href="{{url_for('apps_blueprint.apps')}}" role="button">View Apps</a>
		<a class="btn btn-success btn-lg" href="{{url_for('apps_blueprint.add_app')}}" role="button">Register App</a>
	</p>
</div>
{% endblock content %}
