body{
	margin-top: 4rem;
	overflow-y: scroll;
	background: #1b1d1e;
}

/* Override anchor styling */
a.app {
	color: #fff !important;
	text-decoration: none !important;
}

.fade-in {
	visibility: visible;
	opacity: 1;
	transition: opacity 1s linear;
}

.fade-out {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 1s, opacity 1s linear;
}