<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class='container'>
        <a class="navbar-brand" routerLink=''>
            <img src='favicon.ico' width="50" height="50" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink='' routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item" *ngIf='loginStatus'>
                    <a class="nav-link" routerLink='apps' routerLinkActive="active">Apps</a>
                </li>
                <li class="nav-item" *ngIf='loginStatus'>
                    <a class="nav-link" routerLink='apps/thermostats' routerLinkActive="active">Thermostats</a>
                </li>
            </ul>
            <ul class="navbar-nav" *ngIf='!loginStatus'>
                <li class="nav-item">
                    <a class="nav-link" routerLink='login' routerLinkActive="active">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='register' routerLinkActive="active">Register</a>
                </li>
            </ul>
            <ul class="navbar-nav" *ngIf="loginStatus">
                <li class="nav-item">
                    <a class="nav-link" (click)='logoutUser()'>Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>