<a class='col-12 mt-3 mb-3 app' href="{{ url_for('apps_blueprint.thermostats', app_name=app.name)  }}">
    <div class='card bg-dark'>
        <div class='card-body'>
            <h2>{{app.name}}<span class='float-right'>
                    <form class='float-right' method='POST' action="{{ url_for('apps_blueprint.delete_app', name=app.name)
                }}">
                        <input type="submit" name="" class='btn btn-danger' value='Delete' />
                    </form>
                </span></h2>
        </div>
    </div>
</a>
<a class='btn btn-success' href="{{ url_for('apps_blueprint.edit_app', name=app.name) }}">Edit</a>
