<div class='card bg-dark'>
    <div class='card-header'>
        <h1 class='text-center'>{{ thermostat.data.name }}</h1>
    </div>
    <div class='card-body'>
        <img class="img-fluid mx-auto d-block" src='favicon.ico' style='height: 40px'>
        <h1 class='card-title text-center'>
            {{ thermostat.actualTemperature | number: '1.1-1'}} C
        </h1>
        <h5 class='text-center'>
            HVAC Mode: {{ thermostat.data.settings.hvacMode | titlecase }}
        </h5>
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="temperature">
                    {{ thermostat.currentClimateRef | titlecase }}
                </label>
            </div>
            <select class="custom-select" [(ngModel)]="thermostat.currentClimateRefTemp" id="temperature"
                name='temperature' form='set_temperature_hold' style='text-align-last: center'
                (change)="onChange(selectField.value)" #selectField>
                <option *ngFor='let temperature of temperatureOptions' [value]='temperature'>
                    {{temperature | number: '1.1-1'}}
                </option>
            </select>
            <div class='input-group-append'>
                <span class="input-group-text" id="basic-addon2">
                    <div *ngIf='thermostat.data.events.length; else elseBlock'>
                        C until {{ thermostat.data.events[0].endDate}} {{thermostat.data.events[0].endTime }}
                    </div>
                    <ng-template #elseBlock>
                        C until next transition.
                    </ng-template>
                </span>
            </div>
        </div>
    </div>
</div>