{% extends 'layout.html' %}
{% block content %}
<h1>Ecobee App Form</h1>
<p>Follow instructions <a href='https://www.ecobee.com/home/developer/api/examples/ex1.shtml'>here</a> to get the API key, authorization code, access token, and refresh token field for your thermostat. You can use any name you want registering this app to reference your thermostat.</p>
<form method="POST" action="#">
	{{ form.hidden_tag() }}
	<fieldset class="form-group">
		<div class="form-group">
			{{ form.name.label(class="form-control-label") }}
			{% if form.name.errors %}
			{{ form.name(class="form-control form-control-lg is-invalid") }}
			<div class="invalid-feedback">
				{% for error in form.name.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
			{% else %}
			{{ form.name(class="form-control form-control-lg", rows=5) }}
			{% endif %}
		</div>
		<div class="form-group">
			{{ form.api_key.label(class="form-control-label") }}
			{% if form.api_key.errors %}
			{{ form.api_key(class="form-control form-control-lg is-invalid") }}
			<div class="invalid-feedback">
				{% for error in form.api_key.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
			{% else %}
			{{ form.api_key(class="form-control form-control-lg") }}
			{% endif %}
		</div>
		<div class="form-group">
			{{ form.authorization_code.label(class="form-control-label") }}
			{% if form.authorization_code.errors %}
			{{ form.authorization_code(class="form-control form-control-lg is-invalid") }}
			<div class="invalid-feedback">
				{% for error in form.authorization_code.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
			{% else %}
			{{ form.authorization_code(class="form-control form-control-lg", rows=5) }}
			{% endif %}
		</div>
		<div class="form-group">
			{{ form.access_token.label(class="form-control-label") }}
			{% if form.access_token.errors %}
			{{ form.access_token(class="form-control form-control-lg is-invalid") }}
			<div class="invalid-feedback">
				{% for error in form.access_token.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
			{% else %}
			{{ form.access_token(class="form-control form-control-lg", rows=5) }}
			{% endif %}
		</div>
		<div class="form-group">
			{{ form.refresh_token.label(class="form-control-label") }}
			{% if form.refresh_token.errors %}
			{{ form.refresh_token(class="form-control form-control-lg is-invalid") }}
			<div class="invalid-feedback">
				{% for error in form.refresh_token.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
			{% else %}
			{{ form.refresh_token(class="form-control form-control-lg", rows=5) }}
			{% endif %}
		</div>
	</fieldset>
	<div class='form-group'>
		{{ form.submit(class="btn btn-success") }}
	</div>
</form>
{% endblock content %}