<!DOCTYPE html>
<html lang="en">

<head>
	{% include 'layout-components/bootstrap4.html' %}

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

	<link rel="shortcut icon" href="{{ url_for('static', filename='ecobee_logo.png') }}">

	<title>Ecobee</title>

</head>

<body class='text-light' style="background: #1b1d1e">
	<main class='container pt-3 pb-3 '>
		{% include 'layout-components/navbar.html' %}

		<div class='mt-5 pt-3 pb-3'>
			{% include 'layout-components/flash.html' %}
			{% block content %} {% endblock content %}
		</div>
	</main>
</body>

</html>