{% extends 'layout.html' %}
{% block content %}
<h1>Ecobee Thermostats</h1>
<div class='row'>
	{% for thermostat in thermostats %}
	<a class='col-xl-6 mt-3 mb-3' href="{{url_for('main.thermostat', app_name=app.name, thermostat_identifier=thermostat.identifier)}}">
		<div class='card bg-dark'>
			<div class='card-header'>
				<h1>{{thermostat.name}}<span class='float-right'>{{thermostat.temperature}}</span></h1>
			</div>
			<div class='card-body'>
				<p>
					Identifier: {{thermostat.identifier}}<br/>
					Name: {{thermostat.name}}<br/>
					Current Climate Data: {{thermostat.current_climate_data}}<br/>
					Climates: {{thermostat.climates}}<br/>
					Sensor: {{thermostat.sensor}}<br/>	
					Sensors: {{thermostat.remote_sensors}}<br/>			
				</p>
			</div>
		</div>
	</a>
	{% endfor %}
</div>
{% endblock content %}