{% extends 'layout.html' %}
{% block content %}
<form action='{{ url_for("main.set_temperature_hold", app_name=app_name, thermostat_identifier=thermostat.identifier) }}' method="post" id='set_temperature_hold'></form>
<form action='{{ url_for("main.set_climate_hold", app_name=app_name, thermostat_identifier=thermostat.identifier) }}' method="post" id='set_climate_hold'></form>
<form action='{{ url_for("main.set_hvac_mode", app_name=app_name, thermostat_identifier=thermostat.identifier) }}' method="post" id='set_hvac_mode'></form>
<form action='{{ url_for("main.send_message", app_name=app_name, thermostat_identifier=thermostat.identifier) }}' method="post" id='send_message'></form>
<form action="{{url_for('main.resume', app_name=app_name, thermostat_identifier=thermostat.identifier)}}" method="post" id='resume'></form>

<div class='row'>
	{% include 'thermostat_temperature.html' %}
	{% include 'thermostat_setting.html' %}
	
	{% include 'thermostat_sensor.html' %}
	{% for sensor in thermostat.remote_sensors %}
		{% include 'sensor.html' %}
	{% endfor %}

	{% include 'message.html' %}
</div>

{% endblock content %}