{% extends 'layout.html' %}
{% block content %}
<form
	action='{{ url_for("main.set_temperature_hold", app_name=app_name, thermostat_identifier=thermostat.identifier) }}'
	method="post" id='set_temperature_hold'></form>
<form action='{{ url_for("main.set_climate_hold", app_name=app_name, thermostat_identifier=thermostat.identifier) }}'
	method="post" id='set_climate_hold'></form>
<form action='{{ url_for("main.set_hvac_mode", app_name=app_name, thermostat_identifier=thermostat.identifier) }}'
	method="post" id='set_hvac_mode'></form>
<form action='{{ url_for("main.send_message", app_name=app_name, thermostat_identifier=thermostat.identifier) }}'
	method="post" id='send_message'></form>
<form action="{{url_for('main.resume', app_name=app_name, thermostat_identifier=thermostat.identifier)}}" method="post"
	id='resume'></form>
<div class='row'>

	<div class='col-lg-6 mb-4'>
		{% include 'thermostats/thermostat/components/temperature.html' %}
	</div>
	<div class='col-md-6 mb-4'>
		{% include 'thermostats/thermostat/components/settings.html' %}
	</div>
	{% include 'thermostats/thermostat/components/thermostat_sensor.html' %}

	{% for sensor in thermostat.remote_sensors %}
	{% include 'thermostats/thermostat/components/remote_sensor.html' %}
	{% endfor %}

	{% include 'thermostats/thermostat/components/message.html' %}

</div>

{% endblock content %}