<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<h3>Charts</h3>
{% for chart_dict in charts %}
<div id={{ chart_dict['chart_id']|safe }} class="chart" style="height: 500px;"></div>
<script>
    var chart_id = {{ chart_dict['chart_id']|safe }}
    var chart = {{ chart_dict['chart']|safe }}
    var title = {{ chart_dict['title']|safe }}
    var xAxis = {{ chart_dict['xAxis']|safe }}
    var yAxis = {{ chart_dict['yAxis']|safe }}
    var series = {{ chart_dict['series']|safe }}
</script>
<script>
    $(document).ready(function() {
        $(chart_id).highcharts({
            chart: chart,
            title: title,
            xAxis: xAxis,
            yAxis: yAxis,
            series: series,
            connectNulls: true,
            plotOptions: {
                series: {
                    marker: {
                        enabled: false
                    }
                }
            },

        });
    });
</script>
<script src="https://code.highcharts.com/modules/broken-axis.js"></script>
{% endfor %}
