<div class='card bg-dark'>
	<div class='card-header'>
		<h1 class='text-center'>{{ thermostat.name }}</h1>
	</div>
	<div class='card-body'>
		<img class="img-fluid mx-auto d-block" src='{{  url_for("static", filename="ecobee_logo.png")}}'
			style='height: 40px'>
		<h1 class='card-title text-center'>{{ '%0.1f' | format(thermostat.actual_temperature|float)}}C</h1>
		<h5 class='text-center'>
			HVAC Mode: {{ thermostat.hvac_mode | title }}
		</h5>
		<div class="input-group">
			<div class="input-group-prepend">
				<label class="input-group-text" for="temperature">
					{{ thermostat.current_climate_data.mode | title }}
				</label>
			</div>
			<select class="custom-select" id="temperature" name='temperature' onchange="this.form.submit()"
				form='set_temperature_hold' style='text-align-last: center'>
				{% for option in temperature_options %}
				<option value={{option}}
					{% if thermostat.current_climate_data.temperature == option %}selected{% endif %}>{{option}}
				</option>
				{% endfor %}
			</select>
			<div class='input-group-append'>
				<span class="input-group-text" id="basic-addon2">C
					until
					{% if thermostat.current_climate_data.events %}
					{{ thermostat.current_climate_data.end_date}} {{thermostat.current_climate_data.end_time }}
					{% else %}
					next transition.
					{% endif %}
				</span>
			</div>
		</div>
	</div>
</div>
