<div class="card bg-dark" style='height: 230px'>
    <h5 class="card-header">{{sensor.name}}</h5>
    <div class="card-body">
        <div class="card-text">
            <div *ngIf="getTemperature(sensor); else elseBlock">
                Type: {{sensor.type == 'ecobee3_remote_sensor' ? 'remote' : 'thermostat'}}<br>
                Temperature:
                <span class="badge badge-success">{{ getTemperature(sensor) | number :'1.1-1'}}</span><br>
                <div *ngIf="sensor.type=='thermostat'">
                    Humidity: <span class="badge badge-success">{{ getHumidity(sensor) | number : '1.0' }}%</span><br>
                </div>
                Occupancy:
                <span class="badge" [ngClass]="getOccupancy(sensor) ? 'badge-success' : 'badge-danger'">
                    Status
                </span>
            </div>
            <ng-template #elseBlock>
                Thermostat has lost connection with sensor.
            </ng-template>
        </div>
    </div>
</div>