<div *ngIf=all_data_fetched>
    <h1>Thermostats</h1>
    <div class='row'>
        <div class='col-12 mt-3 mb-3 app' *ngFor='let thermostat of thermostats'>
            <div class='card bg-dark'>
                <div class='card-body'>
                    <h2 class='d-inline'>{{thermostat.data.name}}</h2>
                    <div class='float-right'>
                        <div *ngIf="key;else other_content">
                            <a routerLink='{{thermostat.data.identifier}}' class='btn btn-info'>View</a>
                        </div>
                        <ng-template #other_content><a
                                routerLink='{{thermostat.api_key}}/{{thermostat.data.identifier}}'
                                class='btn btn-info'>View</a>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-12 mt-3 mb-3' *ngIf='!thermostats.length'>
            You currently have no thermostats or authenticated apps that are with this account.<br />
            <a routerLink='/apps/register'>Click here</a> to register your Ecobee products.
        </div>
    </div>
</div>