<div *ngIf=allDataFetched>
    <div class='row'>
        <div class='col-lg-6 mb-4'>
            <app-temperature (setTemperature)='setTemperature($event)' [thermostat]=thermostat></app-temperature>
        </div>
        <div class=' col-lg-6 mb-4'>
            <app-settings (setHvacMode)='setHvacMode($event)' (setClimate)='setClimate($event)'
                (resume)='resume($event)' [thermostat]=thermostat></app-settings>
        </div>
        <div class='col-md-6 col-lg-3 mb-4' *ngFor='let sensor of remoteSensors'>
            <app-sensor [sensor]=sensor></app-sensor>
        </div>
        <div class='col-lg-12 mb-3'>
            <h1>Temperature Chart</h1>
            <app-weather-chart [thermostat]=thermostat></app-weather-chart>
        </div>
        <div class='col-lg-12'>
            <app-message [thermostat]=thermostat></app-message>
        </div>
    </div>
</div>