<h1>Register App</h1>
<form #registerForm='ngForm' (ngSubmit)='onSubmit()' novalidate>
    <div class='row'>
        <div class='col-6'>
            <div class="form-group row">
                <label class="col-4 col-form-label">App Name</label>
                <div class="col-8">
                    <input type="text" class="form-control"
                        [class.is-invalid]='appName.errors && (appName.invalid && appName.touched)'
                        placeholder="Enter App Name" name='appName' #appName='ngModel' [(ngModel)]='form.appName'
                        required>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">API Key</label>
                <div class="col-8">
                    <input type="text" class="form-control" pattern='^([a-zA-Z0-9]){32}$'
                        [class.is-invalid]='apiKey.errors && (apiKey.invalid && apiKey.touched)'
                        placeholder="Enter API Key" name='apIKey' #apiKey='ngModel' [(ngModel)]='form.apiKey'
                        (change)='onApiKeyChange()' required>
                    <div class="invalid-feedback">
                        Please fill out fields and authorize app.
                    </div>
                </div>
            </div>
            <input type="hidden" pattern='^([a-zA-Z0-9]){32}$' name="authorizationCode"
                [(ngModel)]='form.authorizationCode' required>
        </div>
    </div>
    <button type='button' class="btn btn-primary mb-2" [class.disabled]='apiKey.invalid'
        (click)='authorizeApp()'>Authorize App
    </button>
    <button type="submit" class="btn btn-primary mb-2" [disabled]='registerForm.invalid'>Register
        App
    </button>
</form>