<div class='jumbotron mt-3 mb-3'>
    <div class='text-dark'>
        <h1 class='display-4'>Ecobee Dash</h1>
        <p class='lead'>Have control over your thermostat.</p>
        <hr class='my-4'>
        <p>Minimalist Ecobee web app designed to have full control over your Ecobee app.</p>
    </div>
    <p class='lead text-light'>
        <a class='btn btn-success btn-lg' routerLink='/apis'>View Apps</a>
        <a class='btn btn-success btn-lg' routerLink='/register_api'>Register App</a>
    </p>
</div>