<div class='row'>
    <h1 class='col-6'>Apps</h1>
    <div class='col-6'>
        <a class='btn btn-primary btn-lg float-right' routerLink='/apps/register'>Register App</a>
    </div>
    <div class='col-12 mt-3 mb-3 app' *ngFor='let app of apps'>
        <div class='card bg-dark'>
            <div class='card-body'>
                <h2 class='d-inline'>{{app.name}}</h2>
                <div class='float-right'>
                    <a (click)='onSelect()' class='btn btn-info'>View</a>
                    <a (click)='reAuthorizeApp(app.key)' class='btn btn-info'>Reauthorize</a>
                    <a (click)='updateAppCredentials(app.key)' class='btn btn-info'>Update App Credentials</a>
                    <button (click)='deleteApp(app.key)' class='btn btn-danger'>Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class='col-12 mt-3 mb-3' *ngIf='!apps.length'>
        You currently have no apps registered with this account.
    </div>
</div>