{% extends 'layout.html' %}
{% block content %}
<form
    action='{{ url_for("apps_blueprint.set_temperature_hold", app_name=app_name, thermostat_identifier=thermostat.identifier) }}'
    method="post" id='set_temperature_hold'></form>
<form action='{{ url_for("apps_blueprint.set_climate_hold", app_name=app_name, thermostat_identifier=thermostat.identifier) }}'
    method="post" id='set_climate_hold'></form>
<form action='{{ url_for("apps_blueprint.set_hvac_mode", app_name=app_name, thermostat_identifier=thermostat.identifier) }}'
    method="post" id='set_hvac_mode'></form>
<form action='{{ url_for("apps_blueprint.send_message", app_name=app_name, thermostat_identifier=thermostat.identifier) }}'
    method="post" id='send_message'></form>
<form action="{{url_for('apps_blueprint.resume', app_name=app_name, thermostat_identifier=thermostat.identifier)}}" method="post"
    id='resume'></form>
<div class='row'>

    <div class='col-lg-6 mb-4'>
        {% include 'thermostats/thermostat/components/temperature.html' %}
    </div>

    <div class='col-lg-6 mb-4'>
        {% include 'thermostats/thermostat/components/settings.html' %}
    </div>

    <div class='col-md-6 col-lg-3 mb-4'>
        {% include 'thermostats/thermostat/components/thermostat_sensor.html' %}
    </div>

    {% for sensor in thermostat.remote_sensors %}
        <div class='col-md-6 col-lg-3 mb-3'>
        {% include 'thermostats/thermostat/components/remote_sensor.html' %}
        </div>
    {% endfor %}

    <div class='col-lg-12 mb-3'>
        {% include 'thermostats/thermostat/components/graph.html' %}
    </div>

    <div class='col-lg-12 mb-3'>
        {% include 'thermostats/thermostat/components/occupancy_graph.html' %}
    </div>



    <div class='col-lg-12'>
        {% include 'thermostats/thermostat/components/message.html' %}
    </div>
</div>

{% endblock content %}
