{% extends 'layout.html' %}
{% block content %}
<div class='row'>
    <div class='col-lg-6 mb-4'>
        {% include 'thermostats/thermostat/components/temperature.html' %}
    </div>
    <div class='col-lg-6 mb-4'>
        {% include 'thermostats/thermostat/components/settings.html' %}
    </div>
    <div class='col-md-6 col-lg-3 mb-4'>
        {% include 'thermostats/thermostat/components/thermostat_sensor.html' %}
    </div>
    {% for sensor in thermostat.remote_sensors %}
    <div class='col-md-6 col-lg-3 mb-3'>
        {% include 'thermostats/thermostat/components/remote_sensor.html' %}
    </div>
    {% endfor %}
    <div class='col-lg-12 mb-3'>
        <h1>Charts</h1>
        {% include 'thermostats/thermostat/components/temperature_chart.html' %}
        <br />
        {% include 'thermostats/thermostat/components/occupancy_chart.html' %}
    </div>
    <div class='col-lg-12'>
        {% include 'thermostats/thermostat/components/message.html' %}
    </div>
</div>
{% endblock content %}