<div class='card bg-dark'>
	<div class='card-header'>
		<h1 class='text-center'>Thermostat Setting</h1>
	</div>
	<div class='card-body'>
		<div class='btn-group w-100 mb-3'>
			<button value='heat' class="btn btn-outline-light
					{% if thermostat.hvac_mode == 'heat' %}
						active
					{% endif %}" name='hvac_mode' style="width: 50%;" form='set_hvac_mode'>
				Heat
			</button>
			<button value='off' class="btn btn-outline-light
					{% if thermostat.hvac_mode =='off' %}
						active
					{% endif %}" name='hvac_mode' style="width: 50%;" form='set_hvac_mode'>
				Off
			</button>
		</div>
		<div class='btn-group w-100 mb-3'>
			<button class="btn btn-outline-light
				{% if thermostat.current_climate_data.mode == 'hold' %}
					active
				{% else %}
					disabled
				{% endif %}" style='width: 25%'>
				{% if thermostat.current_climate_data.endtime != 'transition' %}
				Hold
				{% else %}
				Reg
				{% endif %}
			</button>
			{% for climate in thermostat.climates %}
			<button class="btn btn-outline-light
					{%if thermostat.current_climate_data.mode == climate %}
						active
					{%endif%}" value={{climate}} name='climate' style="width: 25%;" form='set_climate_hold'>
				{{ climate | title }}
			</button>
			{% endfor %}
		</div>
		<button type='submit' class='btn btn-outline-light btn-block' form='resume'>Resume Program</button>
	</div>
</div>